body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    background-color: rgb(104, 221, 167);
    padding: 15px;
}

.contenedor {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}

#resultado {
    font-weight: bold;
    margin-top: 15px;
}
